<div class="page-header">
    <h3>{{posts.post.title}}</h3>    
</div>

<div ng-bind-html="posts.post.content">
</div>

<div class="comment" ng-repeat="comment in posts.post.comments | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="posts.incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span class="comment-body">
      {{comment.body}}
    </span>
</div>

<form ng-submit="posts.addComment()">
    <h3>Add a new comment</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="posts.body">
    </div>
    <button class="btn btn-primary" type="submit">Add Comment</button>
</form>