<div class="page-header">
    <h1>Blog</h1>      
</div>

<div class="post" ng-repeat="post in main.postsList | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="main.incrementUpvotes(post)"></span>
    {{post.upvotes}}
    <span class="post-title">
        <a href="#/posts/{{post.id}}">{{post.title}}</a>
    </span>
</div>

<form ng-submit="main.addPost()">
    <h3>Add a new post</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="main.title">
    </div>
    <div class="form-group">
        <div text-angular ng-model="main.content"></div>
    </div>
    <button class="btn btn-primary" type="submit">Add Post</button>
</form>